@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 500;
}

.navbar {
    padding: .7rem;
}

.navbar-nav li {
    padding-right: 25px;
}

#img-logo {
    z-index: 20;
}

.logo-bg {
    height: 5em;
    width: 30em;
    background-color: white;
    padding: 1em;
    z-index: 10;
}