@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.1);
}

.navbar {
    padding: .7rem;
}

.navbar-nav li {
    padding-right: 25px;
}

.logo-bg {
    height: 100%;
    width: 30em;
    background-color: white;
    padding: 1em;
}

header {
    border-radius: 5px;
}


.whole-body {
    margin: auto 10%;
}
