@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 500;
    /* background: linear-gradient(90deg, rgba(221,52,52,1) 22%, rgba(8,43,115,1) 96%); */
}

.navbar {
    padding: .7rem;
}

.navbar-nav li {
    padding-right: 25px;
}

.logo-bg {
    height: 100%;
    width: 30em;
    background-color: white;
    padding: 1em;
}

header {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.whole-body {
    margin: auto 5%;
}

.card-body {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.rounded {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



